<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>insert car</title>
    </head>
    <body>
        <form action="http://localhost:3001/companies/" method="POST">
            <label for="name">name</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="registration">registration</label>
            <input type="text" id="registration" name="registration">
            <br>
            <input type="submit" value="등록"> 
        </form>
    </body>
</html>
